// _fonts.scss

$font-system-fallback-stack: "San Francisco", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !default;
$font-monospace: "Consolas", "Inconsolata", "Monaco", monospace !default;

$font-global: sans-serif;
$font-title: serif;
$font-tertiary: 'Roboto', sans-serif;

// Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;